{% extends "base.html" %}

{% block title %}To-Do List{% endblock %}
		
{% block content %}
	<h1 class="mt-2">To-Do List</h1>
	<hr class="mt-0 mb-4">
	<a href="{% url 'todo:todo_create' %}" class="btn btn-secondary" >Add To-Do</a>
	<hr class="mt-4 mb-4">
	<ul>
		{% for todo in object_list %}
			<li>
				{% if todo.done %}
				<del>
				{% endif %}
				<a href="{% url 'todo:todo_detail' todo.id%}">{{ todo.title }}
				{% if todo.priority == 1 %}(&#9733;)
				{% elif todo.priority == 2 %}(&#9733;&#9733;)
				{% elif todo.priority == 3 %}(&#9733;&#9733;&#9733;)
				{% endif %}</a>
				{% if todo.done %}
				</del>
				{% endif %}
			</li>
		{% empty %}
			<li>Nothing To-Do. Please Add To-Do.</li>
		{% endfor %}
	</ul>
{% endblock %}

